@import "nullstyle/nullStyle.scss";

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  cursor: pointer;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import './peremen/color.scss';
@import './mixins/mixins.scss';

* {
  color: $color-white;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: $color-fon;
}

@import './Blocks/header.scss';

.main {
  padding: 50px;
  height: calc(100% - 40px);
  box-sizing: border-box;
}

@import './Blocks/convert-page.scss';

@import './Blocks/convert-currency.scss';

@import './Blocks/portfolio-page.scss';

h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.evaluation-title {
  font-weight: normal;
  font-size: 26px;
  display: inline-block;
  color: $color-white;
  margin-bottom: 20px;
}

.porfolio-main-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.currency-case {
  margin-top: -50px;
  padding: 20px 15px 0px;
  border: 2px solid $color-red;
  position: relative;
  background: $color-fon;
  z-index: 1;
  width: 45%;
  margin-right: 70px;
}

.currency-graph {
  width: 30%;
}

@import './Blocks/currency.scss';

@import './Blocks/change-currency.scss';

.arow {
  width: 16px;
  filter: invert(90%);
}

@import './Blocks/currency-operator.scss';

.png-img {
  display: none;
}


._chosen-sign {
  background: $color-red  !important;
}

._btn-dis-rotate {
  transform: rotate(0deg);
}

._open-block-math {
  height: 125px !important;
  opacity: 1 !important;
  z-index: 1 !important;
}